/* Reset básico */
@font-face {
    font-family: 'Giliant';
    src: url('fonts/Giliant.otf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 

body {
font-family: 'Giliant', sans-serif;
  background-color: #ffffff;
  color: #352626;
  line-height: 1.6;
}



/* Header */ 

/* Icono diamante */
.container-logo-diamante{
  font-family: 'Giliant';
    font-size: 2.5rem;             
    margin-top: 30px;
    letter-spacing: 10px;          
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center; 
}

/* Titulo con font */
.titulopr{
    font-family: 'Giliant';
    font-size: 2.5rem;              /* Tamaño grande */
    color: #ffffff;               
    text-align: center;           /* Centrado en pantalla */
    margin-top: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);  /* Sombra suave */
}  

/* Header color y tamanano */
header {
  background-color: #55051c;
  color: rgb(255, 255, 255);
  padding: 1px;
}

/* Barra menu  que no sirve por ahora*/

.container-menu{
  background-color: #3a0111;
  text-align: center;
  
}

.menu{
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu .fa-bars{
  display: none;
  
}

.menues{
  display: flex;
  gap: 3rem;
}

.menues li{
  list-style: none;

}

.menues a{
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  color: #ffffff;          
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  letter-spacing: 3px;

}

.menues a::after{
  content: '';
  width: 1.5rem;
  height: 1px;
  background-color: #e26f6f;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all .3s ease;
}

.menues a:hover::after{
  opacity: 1;
}

.menues a:hover{
  color: #e26f6f;
}

/* BANNEEEEEEEEEEER */

.banner{
  background-image: linear-gradient(100deg, #000 ,#00000015), url('IMAGENES/mito-Lilith.jpg');
  height: 30rem;
  background-size: cover;
  background-position: center;
  
}

.content-banner{
  max-width: 100rem;
  margin: 0 auto;
  padding: 25rem 0;

}

.content-banner h2{
  color:#fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}



/* Catálogo */
.catalogo {
  font-family: 'Giliant';             
  margin-top: 10px;
  letter-spacing: 5px;          
  text-align: center; 

}

.producto {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1); 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}

.producto p {
  font-size: 1.1em;
  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 10px;
}

.producto h3 {
  margin-top: 20px;
  font-size: 1.1em;
  color: #55051c;
}

/* FOOTER, TENER EN CUENTA QUE CADA ICONO TIENE UNA CLASE PARA PONERLE COLOR, PERO QUE PEREZA */

footer {
  background-color: #55051c;
  
}

.contact-info p{
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  letter-spacing: 1.25px;
  font-size: 1.75em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.contact-info ul{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: px;
  letter-spacing: 1.25px;
  font-size: 1.25em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.social-icons{
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  letter-spacing: 10px;
  font-size: 1.75em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.copi p{
  color: white;
  text-align: center;
  padding: 1px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 1em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7)
  
}